html, body, .mainDiv {
    height: 100%;
}

#kakaoMap {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#controlHeader {
    height: 30%;
}
#mainTitle {
    text-align: center;
    padding: 20px;
}
#controlTitle {
    text-align: center;
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-width: 2px;
}
#addTripButton {
    width: 100%;
    height: 40px;
}

#controlContent {
    overflow-y: auto;
    overflow-x: hidden;
    height: 70%;
}
#tripList {
    display: inline-block;
    list-style-type: none;
    width: 100%;
    margin: 5px 10px 0 0;
    padding: 0;
}
#tripList li{
    display: inline-block;
    list-style-position:inside;
    margin: 0px 3px 3px 3px;
    border: 1px solid black;
    border-radius: 15px;

    width: 95%;
    height: 100px;
}
.contentBar h3{
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 10px;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
}
.contentBar:hover {
    border-image: linear-gradient(to right, #01c9ca 0%, #3886FF 100%);
    border-width: 3px;
    transition: 0.5s ease;
}

.contentBarImage {
    width: 40px;
    height: 40px;
}
.imageWrapper {
    float: right;
    padding: 30px 10px 30px;
}