html, body, .mainDiv {
    height: 100%;
}

#mainTitle {
    text-align: center;
}

#controlTitle {
    text-align: center;
}

#tripList {
    margin-left: 10px;
    padding-left: 10px;
}

.contentBarImage {
    width: 30px;
    height: 30px;
}