html, body, .mainDiv {
    height: 100%;
}

#kakaoMap {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#controlHeader {
    height: 30%;
    border-bottom-style: dashed;
    margin-bottom: 10px;
}
#mainTitle {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(94, 94, 243);
    color: white;
}
#controlTitle {
    text-align: center;
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-width: 2px;
}
#travelListControl {

}
#backToMain {
    float: right;
    font-size: 20px;
}
#oneTravelControl {
}
#oneTravelControl table, #oneTravelControl table th,  #oneTravelControl table td{
    border: 2px solid black;
}
#oneTravelControl table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#oneTravelControl table th{
    width: 20%;
}
#oneTravelControl table td{
    
}
.editButton {
    width: 10%;
}
#addTripButton {
    width: 100%;
    height: 40px;
}

#controlContent {
    overflow-y: auto;
    overflow-x: hidden;
    height: 70%;
}
#emptyListMessage {
    text-align: center;
    font-size: 20px;
    color: rgb(149, 97, 245);
}
#tripList {
    display: inline-block;
    list-style-type: none;
    width: 100%;
    margin: 5px 10px 0 0;
    padding: 0;
}
#tripList li{
    user-select: none;
    display: inline-block;
    list-style-position:inside;
    margin: 0px 3px 3px 3px;
    border: 1px solid black;
    border-radius: 15px;

    width: 95%;
    height: 100px;
}
#tripList li p{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
}
#tripList li span[class="peekTitle"] {
    font-family: "Noto Sans",sans-serif;
    height: 100%;
    font-size: 28px;
    font-weight: 550;

    margin-right: 20px;
}
#tripList li span[class="peekDate"] {
    font-size: 15px;
    font-weight: 250;
}
#tripList li:hover {
    border-color: rgb(61, 138, 238);
    border-width: 5px;
    transition: 0.3s ease;
}

.contentBarImage {
    width: 40px;
    height: 40px;
}
.imageWrapper {
    float: right;
    padding: 30px 10px 30px;
}

#selectPositionMessage {
    text-align: center;
    font-size: 20px;
    color: rgb(33, 125, 245);
}